body {
    margin: 0;
    color: rgb(16,16,16);
    @font-face {
        font-family: Montserrat-Medium;
        src: url(./fonts/Montserrat-Medium.tff);
    }
    font-family: Montserrat;
    box-sizing: border-box;
}

section {
    max-width: 1170px;
    margin: auto;
}

section header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    flex-wrap: wrap;
    padding-top: 30px;
}

section header a {
    text-decoration: none;
    color: rgb(16,16,16);
}
section header .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

section header p {
    color: rgba(165, 36, 36, 1);
}
section header p:hover {
    cursor: pointer;
}

section main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
section main img {
    display: block;
    max-width: 100%;
}
section main .text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 100px;
}
section main .text h1 {
    font-size: 72px;
    font-weight: bold;
    margin: 0;
}
section main .text p {
    font-size: 22px;
    font-weight: 500;
    padding-top: 20px;
}
section main .text .button {
    padding-top: 60px;
}
section main .text .button button {
    font-size: 18px;
    color: rgba(165, 36, 36, 1);
    background-color: white;
    padding: 15px 40px;
    border: 1px solid rgba(165, 36, 36, 1);
}
section main .text .button button:hover {
    cursor: pointer;
}
.sec2 header {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: normal;
}
.sec2 header h1 {
    font-size: 64px;
    font-weight: bold;
    margin: 0;
}
.sec2 main {
    display: flex;
    justify-content: space-between;
}
.sec2 main .container-aside {
    max-width: 380px;
    color: rgba(165, 36, 36, 1);
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    box-shadow: 0px 0px 5px lightgray;
}
.sec2 main .container-main {
    max-width: 675px;
    font-size: 18px;
}
.sec2 main .container-main .img {
    box-shadow: 0px 0px 5px lightgray;
    position: relative;
    left: 50px;
}
.sec2 main .container-main .img img {
    position: relative;
    right: 50px;
    top: 30px;
}
.sec2 header h3 {
    color: rgba(165, 36, 36, 1);
    font-size: 22px;
    text-align: end;
    margin: 0;
    padding-right: 80px;
}
.sec2 main .container-aside img {
    position: relative;
    left: 50px;
    top: 50px;
}
.sec3 {
    padding-top: 150px;
}
.sec3 header h1 {
    color: rgba(35, 35, 35, 1);
    font-size: 64px;
}
.sec3 .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.sec3 .container h2 {
    font-size: 22px;
}
.sec3 .container p {
    font-size: 18px;
}
.sec3 .container button {
    font-size: 18px;
    color: rgba(165, 36, 36, 1);
    background-color: white;
    border: 1px solid rgba(165, 36, 36, 1);
    padding: 15px 60px;
}
.sec3 .container button:hover {
    cursor: pointer;
}
.sec4 {
    padding-top: 150px;
}
.sec4 header h1 {
    color: rgba(35, 35, 35, 1);
    font-size: 64px;
}
.sec4 .container h2 {
    margin: 0;
}
.sec4 .container {
    display: flex;
    justify-content: space-between;
}
.sec4 .container .text {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
}
.sec4 .container h2 {
    font-size: 24px;
    color: rgba(165, 36, 36, 1);
    text-align: center;
}
.sec4 .container .left-content {
    padding: 0px 40px 25px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    box-shadow: 0px 0px 5px lightgray;
    position: relative;
    top: 100px;
}
.sec4 .container .left-content img {
    position: relative;
    bottom: 100px;
}
.sec4 .container .right-content {
    padding: 0px 40px 25px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    box-shadow: 0px 0px 5px lightgray;
    position: relative;
    top: 100px;
}
.sec4 .container .right-content img {
    position: relative;
    bottom: 100px;
}
.sec4 .container .description {
    text-align: start;
}
.sec4 .container .description p {
    font-size: 18px;
}
.sec4 .container .total {
    text-align: end;
}
.sec4 .container .total p {
    font-size: 18px;
}
.sec4 .container .order {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec4 .container .order p {
    font-size: 38px;
    color: rgba(165, 36, 36, 1);
    font-weight: 500;
}
.sec4 .container .order button {
    font-size: 18px;
    color: rgba(165, 36, 36, 1);
    background-color: white;
    border: 1px solid rgba(165, 36, 36, 1);
    padding: 15px 40px;
}
.sec4 .container .order button:hover {
    cursor: pointer;
}
.sec5 {
    padding-top: 150px;
}
.sec5 header h1 {
    font-size: 64px;
    color: rgba(35, 35, 35, 1);
}
.sec5 main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1170px;
    margin-bottom: 150px;
}
.sec5 main .left-content {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.sec5 main .left-content #first-photo {
    position: absolute;
    top: 47px;
}
.sec5 main .left-content #second-photo {
    position: relative;
    left: 261px;
}
.sec5 main .right-content {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    max-width: 475px;
    flex-wrap: wrap;
}
.sec5 main .right-content #name {
    padding: 15px;
    width: 100%;
    max-width: 475px;
    color: rgba(35, 35, 35, 0.85);
    border: 1px solid rgba(35, 35, 35, 0.35);
    margin-bottom: 40px;
    font-size: 18px;
}
.sec5 main .right-content #mail {
    padding: 15px;
    max-width: 475px;
    width: 100%;
    color: rgba(35, 35, 35, 0.85);
    border: 1px solid rgba(35, 35, 35, 0.35);
    margin-bottom: 40px;
    font-size: 18px;
}
.sec5 main .right-content #msg {
    padding: 15px;
    width: 100%;
    max-width: 475px;
    color: rgba(35, 35, 35, 0.85);
    border: 1px solid rgba(35, 35, 35, 0.35);
    resize: none;
    margin-bottom: 40px;
    font-size: 18px;
}
.sec5 main .right-content #submit {
    padding: 15px;
    max-width: 475px;
    width: 100%;
    color: rgba(165, 36, 36, 1);
    border: 1px solid rgba(165, 36, 36, 1);
    background-color: white;
    font-size: 18px;
}
.sec5 main .right-content #submit:hover {
    cursor: pointer;
}
footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(35, 35, 35, 0.3);
}
footer .container {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer .container {
    padding: 65px 0px;
}
footer .container .social-media {
    max-width: 200px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
footer .container .social-media #instagram:hover {
    cursor: pointer;
}
footer .container .social-media #facebook:hover {
    cursor: pointer;
}
footer .container .social-media #e-mail:hover {
    cursor: pointer;
}
footer .container p {
    font-size: 22px;
    color: rgba(165, 36, 36, 1);
    font-weight: bolder;
}
footer .container p:hover {
    cursor: pointer;
}
@media (max-width: 1024px) {
    section main {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 1024px) {
    .sec2 main,
    .sec2 main .container-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width: 1024px) {
    .sec5 main {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .sec1 header, footer .container {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .sec4 .container .text p,
    .sec4 .container .order button,
    .sec4 .container .order p {
        font-size: 12px;
    }
}
@media (max-width: 480px) {
    .sec1 header {
        font-size: small;
    }
}
@media (max-width: 480px) {
    .sec4 .container #left-content {
        margin-bottom: 100px;
    }
}
@media (max-width: 480px) {
    .sec4 img {
        top: 0px;
    }
}
@media (max-width: 480px) {
    .sec4 .container .left-content button,
    .sec4 .container .right-content button  {
        padding: 10px 5px;
    }
}
@media (max-width: 480px) {
    .sec5 .left-content img {
        width: 200px;
        margin-bottom: 70px;
    }
}
@media (max-width: 320px) {
    .sec1 header .menu {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
}
@media (max-width: 320px) {
    .sec1 main .text h1 {
        font-size: 50px;
    }
}
@media (max-width: 320px) {
    .sec3 header h1 {
        font-size: 40px;
    }
}
@media (max-width: 320px) {
    .sec5 header h1 {
        font-size: 30px;
    }
}
@media (max-width: 320px) {
    .sec5 .left-content img {
        width: 150px;
    }
}
@media (max-width: 320px) {
    .sec5 .left-content {
        display: flex;
        justify-content: center;
        margin-bottom: 400px;
    }
}
@media (max-width: 320px) {
    .sec5 .left-content #second-photo {
        display: none;
    }   
}